a.link{
  background-color: cyan;
  padding: 30px 50px;
}

.tropical{
  color: #7dc410;
  font-family: fantasy;
  color: #f7325e;
}
.popular{

  color: #641E16;
  font-family: monospace;;
  color:  #E74C3C;
}
